<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Blog ni Naperi</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<header>
  <h1><a href="/blogs">BLOG NI NAPERI</a></h1>
  <nav>
    <a href="/blogs">Home</a>
    <a href="/blogs/new">Create Blog</a>
  </nav>
</header>
<main>
